# Configurazione Notifiche Email Gmail (Opzionale per test locale)
# Rinominare questo file in .env e inserire i propri dati

GMAIL_USER=tuonome@gmail.com
# Genera una Password per le App su: https://myaccount.google.com/apppasswords
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx
NOTIFICATION_EMAIL=tuonome@gmail.com
ENABLE_EMAIL=false
